body {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    font-size: 50px; 
    background-color: #404040;
    text-align: center;
    color: white
}

.sidebar{
    font-size: 30px;
    
}

.city-search {
    height: 35px;
    font-size: 20px;
}

.search-historyBtn {
    font-size: 20px;
    color: #5c5c5c;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    max-width: 330px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
}

.container {
    position: relative;
    left: 155px;
    top: 25px;
    height: 330px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.title {
   font-size: 40px;
   font-weight: bold;
   position: relative;
   right: 80px;
   top: 20px;
}
.details {
   font-size: 20px;
   position: relative;
   left: 5px;
}

.uv-index {
    background-color: red;
}

.container-two{
    position: relative;
    left: 345px;
    top: 40px;
    
}

.forecast-title {
    font-size: 30px;
    font-weight: bold;
}

.container-three{
    border-radius: 25px;
    background-color: #008080;
    height: 180px;
    width: 150px;
    padding-left: 17px;
    padding-top: 10px;
    color: white
}
.date {
    font-size: 22px;
    
}
.forecast-details {
    font-size: 15px
}